.woocommerce-checkout {
  .woocommerce-checkout-payment {
    .button {
      background-color: var(--e-global-color-secondary) !important;
      border-radius: 8px !important;
      font-weight: 500 !important;
      font-size: 18px !important;
      &:hover {
        color: #000 !important;
      }
    }
  }
}
